@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.penrose_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.penrose_logo img {
    width: 250px;
}

.intro_content_container {
    padding: 5%;
    background: url("images/online_training_cover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar {
    background: navy;
    padding: 5px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
}

.navbar ul li a {
    text-transform: uppercase;
    padding: 0 5px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    height: 100%;
    cursor: pointer;
}

.intro_content {
    width: 475px;
}

.intro_content_container h2 {
    font-size: 24px;
}

.intro_content h3,
.intro_content p {
    margin: 5px 0;
}

section {
    height: 100%;
}

.get_dob,
.dob {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_dob {
    flex-direction: column;
}

.get_dob p {
    color: white;
}

.learning_paths_container {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    padding: 5%;
}

.learning_paths_container h3 {
    text-align: center;
    font-size: 75px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin: 0;
}

.learning_paths {
    padding: 2.5%;
}

.learning_paths h3 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
}

.paths {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5% 0;
}

.age_path {
    display: flex;
    justify-content: space-between;
}

.complexity {
    border: 2px solid white;
    width: 250px;
    height: 25px;
    border-radius: 50px;
    background: rgb(9, 255, 0);
    background: linear-gradient(
        50deg,
        rgba(9, 255, 0, 1) 0%,
        rgba(226, 255, 7, 1) 35%,
        rgba(253, 255, 8, 1) 66%,
        rgba(254, 19, 1, 1) 84%,
        rgba(254, 0, 0, 1) 100%
    );
}

.complexity_levels {
    display: flex;
    justify-content: space-evenly;
}

.complexity_levels p {
    margin: 0;
    color: white;
}

.complexity_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.complexity_container {
    width: 20%;
}

.complexity_container h4 {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.age_7_or_below {
    border: 1px solid white;
    margin: 5%;
    background-color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.age_7_or_below p {
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
    font-weight: bolder;
}

.age_7_or_below p span {
    font-size: 20px;
    font-weight: lighter;
}

.path {
    padding-top: 0;
    padding: 2.5% 5%;
    width: 20%;
    margin: 2.5px;
}

.path_content ul {
    padding: 0;
}

.path h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.book_demo_container {
    height: 100vh;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* color: white; */
    /* background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); */
}

.book_demo_title h4 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    line-height: 8.75rem;
    font-weight: lighter;
}

.book_demo_title h3 {
    font-size: 20rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 8.75rem;
}

.pushable_width {
    /* width: 75%; */
    margin: 10px;
    text-align: center;
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.align_right {
    text-align: right;
}

.book_demo_button {
    text-align: center;
}

.book_demo_button button {
    background-color: blue;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.register_container {
    /* border: 1px solid black; */
    /* width: 30%; */
    margin: 0 4.5%;
}

.register_title h1 {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 4rem;
}

.register_title h1 span {
    font-size: 5rem;
}

/* .register_title, .registration_form_container {
    border: 1px solid black;
} */
